/*******************
BASE SELECTORS
*******************/

* {
  box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #182A55;
}

/*******************
HEADER
*******************/

.main-header {
  margin-top: 30px;
}

.main-nav {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
  text-align: center;
  display: inline-block;
  padding: 0;
}

.main-nav li {
  background-color: #fff;
  list-style-type: none;
  display: inline;
  padding: 20px;
}

.main-nav a:hover {
  color: #2484BC;
}

.main-nav a {
  transition: .2s ease-in-out;
      color: .2s ease-in-out;
}

/*******************
BODY
*******************/

.intro-pic {
  border: 3px solid #182A55;
}

.container {
  position: relative;
  text-align: center;
  color: #fff;
}

.img-txt {
  position: absolute;
  bottom: 40px;
  left: 50px;
  font-size: 50px;
  text-align: left;
}
